<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="white">
    <div class="panel panel-default" style="margin: 0px 5% 0px 5%">
      <div class="panel-body admin_tools_top">
        <i class="fa fa-cogs menu_item_icon"></i>
        <% if @page.index != true %>
        <%= link_to '', pages_path, class: 'btn btn-success fa fa-list fa-2 right', style: 'color: black; font-size: 20px; margin-left: 15px;' %>
        <%= link_to_unless_current( '', { action: "new" }, class: 'btn btn-success fa fa-plus fa-2 right', style: 'color: black; font-size: 20px; margin-left: 15px;') %>
        <% end %>
        <%= f.submit 'сохранить', :class => "btn btn-success fa fa-plus fa-2 right", style: 'color: black; font-size: 12px; text-transform: uppercase; padding: 10px; margin-left: 15px;' %>
      </div>
    </div>
  </section>

  <ul class="nav nav-tabs admin-tabs">

    <li class="active">
    <a href="#default-info" data-toggle="tab">Основная информация</a>
    </li>

    <li>
    <a href="#seo-options" data-toggle="tab">Опции SEO и меток</a>
    </li>

    <li>
    <% if @page.index == true %>
    <a href="#slides" data-toggle="tab">Управление слайдами</a>
    </li>
    <% end %>

  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="default-info">
      <div id="admin-fields-block" style="min-height: 400px; width: 100%;">
        <fieldset>
          <% if @page.index == true %>        
            <div class="field">
              <%= f.label :title, 'Заголовок описания:' %><br>
              <%= f.text_field :title, style: 'width: 100%;' %>
            </div>
            <br>
            <div class="field">
              <%= f.label :body, 'Описание на главной:' %><br>
              <%= f.text_area :body, style: 'min-width: 100%;' %>
            </div>
          <% else %>
            <div class="field">
              <%= f.label :title, 'Заголовок страницы на китайском:' %><br>
              <%= f.text_field :title, style: 'width: 100%;' %>
            </div>
            <br>
            <div class="field">
              <%= f.label :rus_title, 'Заголовок страницы на русском:' %><br>
              <%= f.text_field :rus_title, style: 'width: 100%;' %>
            </div>
            <br>
            <div class="field" style="display: inline-block;">
              <%= f.check_box :footer %> <%= f.label :footer, 'В футере' %>
            </div>
            <div class="field" style="display: inline-block; margin-left: 40px;">
              <%= f.check_box :published %> <%= f.label :published, 'Опубликовать?' %>
            </div>            
            <br>
            <br>
            <div class="field">
              <%= f.label :body, 'Текст страницы:' %><br>
              <%= f.cktext_area :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
            </div>
          <% end %>
        </fieldset>
      </div>
    </div>


    <%= f.fields_for :meta_tag do |meta_tag| %>
    <div class="tab-pane" id="seo-options">
      <div id="admin-fields-block" style="min-height: 400px;">
          <fieldset>
            <div class="field">
              <%= meta_tag.label :title, 'Титл страницы:' %><br>
              <%= meta_tag.text_field :title,  style: 'width:100%;' %>
            </div>
            <br>
            <div class="field">
              <%= meta_tag.label :description, 'Описание страницы:' %><br>
              <%= meta_tag.text_field :description,  style: 'width:100%;' %>
            </div>
            <br>
            <div class="field">
              <%= meta_tag.label :keywords, 'Ключевые слова:' %><br>
              <%= meta_tag.text_field :keywords,  style: 'width:100%;' %>
            </div>
          </fieldset> 
      </div>
    </div>
    <% end %>


    <% if @page.index == true %>
      <div class="tab-pane" id="slides">
        <div id="admin-fields-block" style="min-height: 400px;">
          <%= f.fields_for :slides do |builder| %>
            <%= render 'slide_fields', f: builder %> 
          <% end %>   
          <%= link_to_add_fields( 'Добавить слайд', f, :slides)%>
        </div>
      </div>
    <% end %>

  </div>
  <section class="first">
  </section>
<% end %>