<%
metamagic title: 'Вопросы по турам'
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Вопросы по турам</h1>
      </div>
    </div>
  </div>
</section>
<%- model_class = Question -%>
<div id="admin_page_table_wrap_5">
  <table class="bordered" style="margin-top: 50px; margin-bottom: 50px;">
    <thead>
      <tr>
        <th>Заголовок</th>
        <th>Мыло</th>
        <th>Имя</th>
        <th>Статус</th>
        <th colspan="2" width="100"></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= link_to question.title, question_path(question) %></td>
          <td><%= question.email %></td>
          <td><%= question.name %></td>
          <td>
            <% if question.status == true %>
              <p style="color: red;">Ожидает ответа!</p>
            <% else %>
              <p style="color: #029B04;">Отвечено</p>
            <% end %>
          </td>
          <td width="70" class="center">
            <%= link_to '', question, method: :delete, data: { confirm: 'Точно удалить?' }, class: 'btn btn-danger fa fa-trash-o admin_pages_buttons center' %></td>
           <td width="70" class="center">
           <% if question.status == true %>
            <%= link_to '', question, method: :post, action: :read, data: { confirm: 'Пометить прочитанным?' }, class: 'btn btn-success fa fa-check admin_pages_buttons center', style: "font-size: 19px;" %>
            <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
