
  <% if @question.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="control-group col-md-6">
    <%= f.label :email, '邮箱:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:email]) %>
  </div>
  <div class="control-group col-md-6">
    <%= f.label :name, '姓名:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :title, '主题:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :body, '写下您的问题:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'form-control question_text_area' %>
    </div>
    <%= error_span(@question[:body]) %>
  </div>