<%
metamagic title: 'Управление турами'
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Управление турами</h1>
      </div>
    </div>
  </div>
</section>
<section class="white">
<p id="notice"><%= notice %></p>

<div id="admin_page_table_wrap_5">
  <div class="panel panel-default">
    <div class="panel-body admin_tools_top">
      <i class="fa fa-cogs menu_item_icon"></i>
      <%= link_to '', new_tour_path, method: :get, class: 'btn btn-success fa fa-plus fa-2 right', style: 'color: black; font-size: 20px;' %>
    </div>
  </div>
  <table class="bordered">
    <thead>
      <tr>
        <th>Заголовок тура</th>
        <th>Цена</th>
        <th>Категория</th>
        <th>Публичность</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @tours.each do |tour| %>
        <tr>
          <td><%=link_to tour.rus_title, tour, method: :get %></td>
          <td><%= tour.price %></td>
          <td>
          <% if Category.find_by id: tour.category_id %>
            <%= Category.find(tour.category_id).rus_title %>
          <% else %>
            <p style="color: #9B1B00; margin-bottom: 0!important;">Нет категории</p>
          <% end %>
          </td>
          <td width="100" class="center">
            <% if tour.published? %>
              <i class="fa fa-check" style="color: #009B18; font-size: 19px;"></i>
            <% else %>
              <i class="fa fa-times" style="color: #9B1B00; font-size: 19px;"></i>
            <% end%>
          </td>
          <td class="center"><%= link_to '', edit_tour_path(tour), method: :get, class: 'btn btn-primary fa fa-pencil fa-2 center admin_pages_buttons' %></td>
          <td class="center"><%= link_to '', tour, method: :delete, data: { confirm: 'Точно удалить?' }, class: 'btn btn-danger fa fa-trash-o admin_pages_buttons' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>