<%
metamagic title: @tour.meta_tag.title, description: @tour.meta_tag.description ,keywords: @tour.meta_tag.keywords
%>

<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
      <div style="width:70%;">
        <h3 class="page-title"><%= @tour.title %></h3>
      </div>
    </div>
  </div>
</section>


<section class="white">
  <div id="tour_heading_wrapper">
    <% if @tour.image_file_name.to_s.empty? %>
    <div class="tour_image">Нет изображения!</div>
    <% else %>
    <div class="tour_image"> 
      <% if can? :update, @tour %>
        <div id="page_admin_tools_block" class="tour_page_tools">
          <%= link_to edit_tour_path(@tour), method: :get, :class => 'page_admin_tool_button' do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </div>
      <% end %>
      <%= image_tag @tour.image.url(:tour_head), class: "img-thumbnail", title: @tour.image_title, alt: @tour.image_title %>
    </div>
    <% end %>
    <div class="tour_desc">
    <div class="heading-border-inner-border"></div>
    <%= @tour.description %> 
    </div>

  </div>
</section>


<div id="tour_spec_wrap">
  <div class="place_info">
  </div>

  <div class="tour_spec">
    <div class="tour_spec_block">
      <div class="well well-small" data-container="body" data-toggle="popover" data-placement="left" data-content="旅行总时间." data-trigger="hover">
        <span class="spec_icon pe-7s-clock"></span>
        <p><%= @tour.has_many_day %>天 - <%= @tour.has_many_night %>夜</p>
      </div>

      <div class="well well-small" data-container="body" data-toggle="popover" data-placement="left" data-content="旅游季" data-trigger="hover">
        <span class="spec_icon pe-7s-sun"></span>
        <p><%= @tour.season %></p>
      </div>

      <div class="well well-small" data-container="body" data-toggle="popover" data-placement="left" data-content="最少和最多人数" data-trigger="hover">
        <span class="spec_icon pe-7s-users"></span>
        <p><%= @tour.min_group_count %> - <%= @tour.max_group_count %>人</p>
      </div>

    </div>
  </div>
</div>


<section id="question">
  <div class="question_icon"><span class="pe-7s-help1"></span></div>

  <div class="question_text">
    <h3 class="section-whtitle left-effect">出现问题？</h3>
    <p>如果您有任何问题，请联系我们的专业人员，确定所有问题!</p>
  </div>

  <div id="question_btn">  
    <button type="button" id="question_btn" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
    提问
    </button>
  </div>
</section>


<section id="tour_days" class="white">
  <div class="pe-7s-compass tour_block_image"><p class="tour_block_title">旅行日程</p></div>
    <% @tour.tour_days.each do |tour_day| %>
      <div class="testimonal">
        <p class="day_heading"><%= tour_day.day_name %></p>
        <div class="day_layout">
        <%= raw tour_day.day_desc %>
        </div>
        <% if tour_day.day_note.empty? %>
        <% else %>
          <div class="day_note"><span class="pe-7s-info"></span><span><%= tour_day.day_note %></span></div>
        <% end %>

        <div id="tour_day_mini_image_wrap">
          <% if tour_day.day_images == false %>
          <% else %>
            <% tour_day.day_images.each do |day_image| %>
          <a href="<%= day_image.image.url%>" title="<%= day_image.title %>" class="fancybox" rel="gallery<%= tour_day.day_num %>"><%= image_tag day_image.image.url(:tour_day_mini), class: "tour_day_mini_image", :title => day_image.title, :alt => day_image.title %></a>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>


<section class="included_in_tour">
  <div class="pe-7s-check tour_block_image"><p class="tour_block_title">旅行包括和不包括服务单</p></div>
  <div id="services">

    <div class="included_services">
      <p class="heading">旅行包括服务单</p>
      <ul>
          <%= raw @tour.included_services %>
      </ul>
    </div>

    <div class="not_included_services">
      <p class="heading">旅行不包括服务单</p>
      <ul>
        <%= raw @tour.not_included_services %>
      </ul>
    </div>



  </div>
</section>
<!--<section id="tour_comments" class="white">

  <div class="pe-7s-comment tour_block_image">
    <p class="tour_block_title">Оставленные коментарии</p>
  </div>

  <div class="tour_comment">
    <% @tour.tour_comments.each do |comment| %>
      <div class="comment_block">

      <% if comment.parent %>
      <div  class="comment_block">
      <p>
      <strong>Автор:</strong>
      <%= comment.parent.author %>
      </p>
      <p>
      <strong>Заголовок:</strong>
      <%= comment.parent.title %>
      </p>
      <p>
      <strong>Коментарий:</strong>
      <%= comment.parent.body %>
      </p>
      </div>
      <% end %>

      <p>
      <strong>Автор:</strong>
      <%= comment.author %><br>
      </p>

      <p>
      <strong>Заголовок:</strong>
      <%= comment.title %><br>
      </p>

      <p>
      <strong>Коментарий:</strong>
      <%= comment.body %><br>
      </p>
      </div>
    <% end %>
  </div>

</section>-->
<%= form_for @question, url: {action: "create_question"}, :html => { :method => :post, :id => "question_form", :class => "form-horizontal question" } do |question| %>
<!-- Question Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="question_modal_label">提问</h4>
      </div>
      <div class="modal-body">
       <%= render "tour_question", f: question %>
      </div>
      <div class="modal-footer">

        <%= question.submit '发送', :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<!-- Question Modal -->
<script>
$(document).ready(function() {
    $('#registrationForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        locale: 'fr_FR',
        fields: {
            question[name]: {
                validators: {
                    notEmpty: {
                    },
                    stringLength: {
                        min: 6,
                        max: 30
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9]+$/
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                    },
                    emailAddress: {
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                    },
                    stringLength: {
                        min: 8
                    }
                }
            },
            birthday: {
                validators: {
                    notEmpty: {
                    },
                    date: {
                        format: 'YYYY/MM/DD'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                    }
                }
            }
        }
    });
});
</script>
<% end %>
