<%
metamagic title: 'Управление категориями туров'
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Управление категориями туров</h1>
      </div>
    </div>
  </div>
</section>
<section class="white">

<p id="notice"><%= notice %></p>

<div id="admin_page_table_wrap_5">
  <div class="panel panel-default">
    <div class="panel-body admin_tools_top">
      <i class="fa fa-cogs menu_item_icon"></i>
      <%= link_to '', new_category_path, method: :get , class: 'btn btn-success fa fa-plus fa-2 right', style: 'color: black; font-size: 20px;' %>
    </div>
  </div>
<table class="bordered">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Публичность</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.rus_title, category, method: :get %></td>
        <td width="100" class="center">
            <% if category.published? %>
              <i class="fa fa-check" style="color: #009B18; font-size: 19px;"></i>
            <% else %>
              <i class="fa fa-times" style="color: #9B1B00; font-size: 19px;"></i>
            <% end%>
        </td>
        <td width="100" class="center"><%= link_to '', edit_category_path(category), method: :get , class: 'btn btn-primary fa fa-pencil fa-2 center admin_pages_buttons' %></td>
        <td width="100" class="center"><%= link_to '', category, method: :delete, data: { confirm: 'Точно удалить?' }, class: 'btn btn-danger fa fa-trash-o admin_pages_buttons' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>