<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if can? :create, @category %>
	<div id="admin_panel">
	  <div id="tools_block">
	    <div class="tools_heading">
		  <h4>
		  	<i class="fa fa-cogs menu_item_icon"></i>
		  </h4>
		  <span class="tools_heading_bottom_block">enitour.com  administration  panel</span>
		</div>
		<div id="accordion" role="tablist" aria-multiselectable="true">

		  <div style="margin-bottom: 20px;">
		    <div  role="tab" id="headingTour">
		      <a class="admin_menu_item" data-toggle="collapse" data-parent="#accordion" href="#collapseTour" aria-expanded="false" aria-controls="collapseTour">
		        <i class="fa fa-globe menu_item_icon"></i><span>Туры</span>
		      </a>
		    </div>
		    <div id="collapseTour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTour">
		      <div class="admin_panel_submenu">
		        <%= link_to 'Категории', categories_path, class: 'admin_submenu_item' %>
		        <%= link_to 'Управление турами', tours_path, class: 'admin_submenu_item' %>
		      </div>
		    </div>
		  </div>


		  <div style="margin-bottom: 20px;">
		    <div role="tab" id="headingBlog">
		      <a class="admin_menu_item" data-toggle="collapse" data-parent="#accordion" href="#collapseBlog" aria-expanded="false" aria-controls="collapseBlog">
		        <i class="fa fa-bullhorn menu_item_icon"></i><span>Блог</span>
		      </a>
		    </div>
		    <div id="collapseBlog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBlog">
		      <div class="admin_panel_submenu">
		        <%= link_to 'Категории', blogs_path, class: 'admin_submenu_item' %>
		        <%= link_to 'Управление статьями', articles_path, class: 'admin_submenu_item' %>
		      </div>
		  	</div>
		  </div>



		  <div style="margin-bottom: 20px;">
		    <div  role="tab" id="Questions">
		      <a class="admin_menu_item" data-toggle="collapse" data-parent="#accordion" href="#collapseQuestions" aria-expanded="false" aria-controls="collapseQuestions">
		        <i class="fa fa-question-circle menu_item_icon"></i><span>Вопросы</span>
		       	<% if Question.questions_new != false  %>
		       	 <span class="badge question_bage"><%= Question.questions_new %></span> 
		       	<% end %>
		      </a>
		    </div>
		    <div id="collapseQuestions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQuestions">
		      <div class="admin_panel_submenu">
		        <%= link_to tour_questions_path, class: 'admin_submenu_item' do %>
		          <% if Question.tour_questions_count != 0 %>
		            Вопросы по турам <span class="submenu_item_bage"><%= Question.tour_questions_count %></span>
		          <% else %>
		          	Вопросы по турам 
		          <% end %>
		        <% end %>

		        <%= link_to questions_path, class: 'admin_submenu_item' do %>
		          <% if Question.questions_count != 0  %>
		            Основные вопросы <span class="submenu_item_bage"><%= Question.questions_count %></span>
		          <% else %>
		          	Основные вопросы
		          <% end %>
		        <% end %>
		      </div>
		    </div>
		  </div>


		  <div style="margin-bottom: 20px;">
		    <div  role="tab" id="headingPages">
		      <a class="admin_menu_item" data-toggle="collapse" data-parent="#accordion" href="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
		        <i class="fa fa-file-text menu_item_icon" style="font-size:19px; margin-left: 3px; margin-right: 2px;"></i><span>Страницы</span>
		      </a>
		    </div>
		    <div id="collapsePages" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPages">
		      <div class="admin_panel_submenu">
		        <%= link_to 'Изменение главной', edit_page_path(1), class: 'admin_submenu_item' %>
		        <%= link_to 'Служебные страницы', pages_path, class: 'admin_submenu_item' %>
		      </div>
		    </div>
		  </div>


		  </div>
		</div>
	  </div>

	  <div id="icon_block">
	  </div>
	</div>
<% end %>
	<div id="page" class="hfeed site">
	    <header id="header" class="site-header" role="banner">
	      <div id="coca-top-bar" class="top-bar-wrap">
	        <div class="container">
	          <div class="left-widget-wrap left">
	          </div>
	          <div class="right-widget-wrap right">
	            <div class="top-social">
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
亲， <%= link_to '请登录', new_user_session_path %>  <%= link_to '免费注册', new_user_registration_path %>
<% end %>

	            </div>
	          </div>
	        </div>
	      </div>
	      <div id="coca-top-nav-wrapper">
	        <div class="container">
	          <div class="row">

				<nav class="navbar navbar-default">
				  <div class="container-fluid dropdown">

				    <div class="navbar-header">
				    	<div id="logo_wrap">
					    	<%= link_to root_url, class: 'logo', title: '旅行' do %>
					        <span>EniTour</span>
					        <% end %>
						</div>
				    </div>

				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				      	  <li class=><%= link_to '主页', root_url %></li>
				      	  <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">旅行 <span class="caret"></span></a>
				          
				    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <% Category.all.each do |category| %>
		                    <% if category.parent_id.nil? %>
		                      <% if category.published? or can? :update, @category %>
				          		<% if category.published == true %>
				          	  	  <li><%= link_to category.name, category %></li>
				          	  	<% else %>
				                  <li><%= link_to category.name, category, style: 'color: #9B1B00;' %></li>
				                <% end %>
				              <% end %>
		                    <% end %>
	                    <% end %> 
				    </ul>
				        </li>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">博客<span class="caret"></span></a>
				          <ul class="dropdown-menu" role="menu">
				          	<% Blog.all.each do |blog_category| %>
				          	  <% if blog_category.published? or can? :update, @blog %>
				          	  	<% if blog_category.published == true %>
				          	  	  <li><%= link_to blog_category.title, blog_category %></li>
				          	  	<% else %>
				                  <li><%= link_to blog_category.title, blog_category, style: 'color: #9B1B00;' %></li>
				                <% end %>
				              <% end %>
				            <% end %>
				          </ul>
				        <li><%= link_to '联系我们', new_question_url %></li>
				      </ul>
				      <form class="navbar-form navbar-right" role="search">
				        <div class="form-group">
				          <input type="text" class="form-control" placeholder="Поиск">
				        </div>
				        <button type="submit" class="btn btn-default">Найти</button>
				      </form>
				        </li>
				      </ul>
				    </div>
				  </div>
				</nav>

	          </div>
	        </div>
	      </div>
	    </header>
	    	<div class="content-wrapper">
      			<div id="content" class="site-content">

				<%= yield %>

				</div>
			</div>
		<footer id="colophon" class="site-footer" role="contentinfo">
	      <div class="footer-wrapper container">
	        <div class="row">
	          <div class="sidebar footer-sidebar clearfix">
	            <div class="col-lg-3 col-sm-3 col-md-3 widget-1 footer-widget first footer-widget">
	              <div id="meta" class="widget widget_meta">
	                <h3 class="widget-title">Paramount</h3>
	                <p>The alarming thing is, the mistakes that produce these regrets are all errors of omission. You forget your dreams, ignore your family, suppress your feelings, neglect your friends, and forget to be happy. </p>
	              </div>
	            </div>
	            <div class="col-lg-3 col-sm-3 col-md-3 widget-1 footer-widget footer-widget">
	              <div id="tweet" class="widget widget_tweet">
	                <h3 class="widget-title">Twitter</h3>
	                <p>A showcase of traditionally hard CSS problems, easily solved using flexbox.</p>
	                <a href="#">http://t.co/40aOhYRtjC </a>
	                <p>via <a href="#">@philwalton</a></p>
	                <p><span><a href="#">2 months ago</a></span></p>
	              </div>
	            </div>
	            <div class="col-lg-3 col-sm-3 col-md-3 widget-1 footer-widget footer-widget">
	              <div id="get_touch" class="widget widget_get_touch">
	                <h3 class="widget-title">Get In Touch</h3>
	                <p><span>Address:</span> 1600 Pennsylvania Ave NW, Washington, DC 20500</p>
	                <p><span>PhTour:</span> (202) 456-1111</p>
	                <p><span>Email:</span> <a href="mailto:obama@whitehouse.com">obama@whitehouse.com</a></p>
	                <ul class="footer-tweet">
	                  <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
	                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
	                  <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
	                </ul>
	              </div>
	            </div>
	            <div class="col-lg-3 col-sm-3 col-md-3 widget-1 footer-widget last footer-widget">
	              <div id="newsletter-wrap" class="widget widget_get_touch">
	                <h3 class="widget-title">Newsletter</h3>
	                <p>Subscribe to our newsletter! Get tips, product updates and special offers.</p>
	                <form novalidate="" class="" name="cc-embedded-subscribe-form" method="post" action="index.html" id="subscribe_form">
	                <input type="text" required placeholder="mail@example.com" id="mce-EMAIL" class="subs_input" name="EMAIL" value="">
	                <input type="submit" class="subs_submit" value="Join" name="subscribe">
	                </form>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </footer>
	</div>
</body>
</html>
